
@{
    ViewData["Title"] = "Details";
    ViewData["TimeRemaining"] = Model.TimeNeeded;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Programmer.App.ViewModels.Lectures
@model LectureDetailsViewModel

<div class="container">
    <section class="page-section">
        <h1>Lecture Name: @Model.Name</h1>
        <h5>Required Energy: @Model.RequiredEnergy</h5>
        <h5>Time Needed: @Model.TimeNeeded</h5>
        <h5>@Model.HardSkillName Skill Reward: @Model.HardSkillReward</h5>

        @if (@Model.Name.Contains("Exercise"))
        {
            <h5>Coding Skill Reward: @Model.SoftSkillReward</h5>
        }
        else
        {
            <h5>@Model.SoftSkillName Skill Reward: @Model.SoftSkillReward</h5>
        }

        <a asp-controller="Lectures" asp-action="Watch" asp-route-lectureId="@Model.Id" class="btn">Watch it Online</a>
    </section>
</div>

