@{
    Layout = "~/Views/Shared/_LayoutPlayerInfoViewComponent.cshtml";
}

@using Programmer.App.ViewModels.Users
@model PlayerInfoViewModel

<section class="page-section row">
    <ul class="d-flex list-unstyled justify-content-md-around ml-auto bg-primary text-white py-3 col-md-12">
        <li class="nav-item mx-0 mx-lg-1">
            <span data-toggle="tooltip"><i class="fas fa-user"></i>@this.User.Identity.Name</span>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
            <span><i class="fas fa-level-up-alt"></i>Level - <span id="level">@Model.Level</span></span>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
            <span><i class="fas fa-at"></i>Xp - <span id="xp">@Model.Xp</span>/<span id="xp-for-next">@Model.XpForNextLevel</span></span>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
            <span><i class="far fa-money-bill-alt"></i>Money - @Model.Money$</span>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
            <span><i class="fab fa-bitcoin"></i>Bitcoins - @Model.Bitcoins</span>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
            <div><i class="fas fa-bolt"></i>Energy - <span id="energy">@Model.Energy</span><p id="energy-timer"><span class="energy-minutes"></span><span class="energy-seconds"></span></p></div>
        </li>
        <li class="invisible">
            <div id="task"><i class="fas fa-clock"></i>Time Left - <span class="invisible" id="task-time">@Model.TimeRemaining</span> <p id="task-timer"><span class="task-hours"></span><span class="task-minutes"></span><span class="task-seconds"></span></p></div>
        </li>
        <li class="invisible">
            <div id="is-active">@Model.IsActive</div>
        </li>
        <li class="invisible">
            <div id="task-type">@Model.TypeOfTask</div>
        </li>
    </ul>
</section>

@section Scripts {
    <script asp-cut-key="energyScriptKey" src="~/js/energyTimer.js">
    </script>
    <script asp-cut-key="taskScriptKey" src="~/js/taskTimer.js">
    </script>
}
