
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Programmer.Services.Dtos.Courses
@model CourseDetailsDto

<div class="container-fluid">
    <section class="page-section">
        <h1>Course Name - @Model.Name</h1>


        <div class="row">
            <h3 class="col-12">Course Lectures:</h3>
            @for (int i = 1; i < Model.Lectures.Count() + 1; i++)
            {
                @if (!Model.Lectures[i - 1].IsCompleted && i == 1)
                {
                    <div class="col-6">
                        <a asp-controller="Lectures" asp-action="Details" asp-route-lectureId="@Model.Lectures[i - 1].Id">@Model.Lectures[i - 1].Name</a>
                    </div>
                }
                else
                {
                    <div class="col-6">
                        <a class="btn disabled" asp-controller="Lectures" asp-action="Details" asp-route-lectureId="@Model.Lectures[i - 1].Id">@Model.Lectures[i - 1].Name</a>
                    </div>
                }
            }
        </div>
    </section>
</div>
