
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Programmer.App.ViewModels.Courses
@model CourseDetailsViewModel

<div class="container-fluid">
    <section class="page-section">
        <h1>Course Name - @Model.Name</h1>


        <h3 class="col-12">Course Lectures:</h3>
        <ul class="lectures row list-unstyled">
            @for (int i = 0; i < Model.Lectures.Count(); i++)
            {
                @if (i == 0)
                {
                    <li class="col-6">
                        <a asp-controller="Lectures" asp-action="Details" asp-route-lectureId="@Model.Lectures[i].Id">@Model.Lectures[i].Name</a>
                    </li>
                }
                else if (Model.Lectures[i - 1].IsCompleted)
                {
                    <li class="col-6">
                        <a asp-controller="Lectures" asp-action="Details" asp-route-lectureId="@Model.Lectures[i].Id">@Model.Lectures[i].Name</a>
                    </li>
                }
                else
                {
                    <li class="col-6">
                        <a class="btn disabled" asp-controller="Lectures" asp-action="Details" asp-route-lectureId="@Model.Lectures[i].Id">@Model.Lectures[i].Name</a>
                    </li>
                }
            }

            <li class="col-12 text-center">
                <a class="btn" asp-controller="Exams" asp-action="Details" asp-route-examId="@Model.Exam.Id">@Model.Exam.Name</a>
            </li>
        </ul>

        <a class="btn bg-primary" asp-controller="Academy" asp-action="Index">Back to all courses</a>
    </section>
</div>

@section Scripts{
    <script>
        let lectures = [...document.querySelectorAll(".lectures a")];

        for (let i = 0; i < lectures.length; i++) {
            let lectureClass = lectures[i].className;
            let nextLectureClass = lectures[i + 1].className;

            if (lectureClass === "" && nextLectureClass === "") {
                lectures[i].className = 'btn disabled text-success';
                lectures[i].innerHTML += " - Completed"
            }
        }
    </script>
}

