
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Programmer.Services.Dtos.Courses
@model CourseEnrollDetailsDto

<div class="container-fluid">
    <section class="page-section">
        <h1>Course Name - @Model.Name</h1>
        <h2>Course Price - @Model.Price $</h2>
        <h3>Course @Model.HardSkillName Skill Reward - @Model.HardSkillReward</h3>
        <h3>Course Coding Skill Reward - @Model.CodingSkillReward</h3>
        <h3>Course @Model.SoftSkillName Skill Reward - @Model.SoftSkillReward</h3>


        <div class="row">
            <h3 class="col-12">Course Lectures:</h3>
            @foreach (var lecture in Model.Lectures)
            {
                <div class="col-6">
                    @lecture.Name
                </div>
            }
        </div>

        @if (!Model.IsPreviousCompleted)
        {
            <p>You have to complete the previous course first before enrolling on this one <a class="btn bg-primary" asp-controller="Academy" asp-action="Index">Back to all courses</a></p>
        }
        else
        {
            <a class="btn bg-primary text-center" asp-route-id="@Model.Id" asp-controller="Courses" asp-action="EnrollOnACourse">Enroll on a course</a>
        }
    </section>
</div>

