
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Programmer.Services.Dtos.Academy
@model AcademyAllCoursesDto

<div class="container-fluid">
    <section class="page-section row">
        <div class="col-12">
            <h1 class="text-center">Welcome to Online Academy 'Programmer'</h1>
            <p class="text-center lead">Some info about academy. More like an ad. You can copy from SoftUni</p>
        </div>


        <div class="col-4">
            <h3>All Courses</h3>
            @for (int i = 1; i < Model.AllCourses.Count() + 1; i++)
            {
                @if (!Model.AllCourses[i - 1].IsCompleted && Model.AllCourses[i - 1].Name != "C# Fundamentals" || Model.AllCourses[i - 1].IsEnrolled)
                {
                    <p><a class="btn disabled" href="/Courses/Enroll?id=@Model.AllCourses[i - 1].Id">@Model.AllCourses[i - 1].Name  - @Model.AllCourses[i - 1].Price $</a></p>
                }
                else
                {
                    <p><a href="/Courses/Enroll?id=@Model.AllCourses[i - 1].Id">@Model.AllCourses[i - 1].Name  - @Model.AllCourses[i - 1].Price $</a></p>
                }
            }

        </div>

        <div class="col-4">
            <h3>Enrolled courses</h3>
            @foreach (var course in Model.EnrolledCourses)
            {
                <a asp-controller="Courses" asp-route-id="@course.Id" asp-action="Details" class="lead">@course.Name</a>
            }
        </div>

        <div class="col-4">
            <h3>Completed courses</h3>

            @foreach (var course in Model.CompletedCourses)
            {
                <p class="lead">@course.Name</p>
            }
        </div>

    </section>
</div>
