
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Programmer.App.ViewModels.Academy
@model AcademyAllCoursesViewModel

<div class="container-fluid">
    <section class="page-section row">
        <div class="col-12">
            <h1 class="text-center">Welcome to Online Academy 'Programmer'</h1>
            <p class="text-center lead">Some info about academy. More like an ad. You can copy from SoftUni</p>
            <h1>TODO: Think about how to unlock courses.</h1>
        </div>


        <div class="col-4">
            <h3>All Courses</h3>
            @foreach (var course in Model.AllCourses)
            {
                @if (course.IsEnrolled || course.IsCompleted)
                {
                    <p><a class="btn disabled" asp-controller="Courses" asp-action="Enroll" asp-route-id="@course.Id">@course.Name - @course.Price $</a></p>
                }
                else
                {
                    <p><a asp-controller="Courses" asp-action="Enroll" asp-route-id="@course.Id">@course.Name - @course.Price $</a></p>
                }
            }

        </div>

        <div class="col-4">
            <h3>Enrolled courses</h3>
            @foreach (var course in Model.EnrolledCourses)
            {
                <a asp-controller="Courses" asp-route-id="@course.Id" asp-action="Details" class="lead">@course.Name</a>
            }
        </div>

        <div class="col-4">
            <h3>Completed courses</h3>

            @foreach (var course in Model.CompletedCourses)
            {
                <p class="lead">@course.Name</p>
            }
        </div>

    </section>
</div>
